mixin getMeta(name, content)
  if name !== 'Content-Type'
    meta(name=name content=content)
  else
    meta(http-equiv=name content=content)

mixin getLink(type, file, moduleName)
  if type === 'stylesheet'
    link(rel=type href=`./transport-form/css/${file}.css`)
  else if type === 'icon'
    link(rel='shortcut icon' href=`./transport-form/img/${file}.ico`)
  else if type === 'canonical'
    link(rel='canonical' href='/')
  else
    link(rel='stylesheet' href=`./transport-form/js/${moduleName}/css/${moduleName}.min.css`)

mixin getScript(file)
  script(src=`./transport-form/js/${file}.js`)
